*{
    background-color: aquamarine;
    color: black;
    text-align: center;
}

#imgPerfil{
    border-radius: 250px;
    border:solid 10px;
    border-color: blueviolet;
}

.titulos{
    font-size: 200%;
    font-style: italic;
}

h2{
    font-size: 300%;
}